# Web Framework
fastapi
uvicorn[standard]

# Banco de Dados e Migrações
sqlalchemy
alembic

# Validação de Dados (usado pelo FastAPI/Pydantic)
pydantic[email]

# Segurança e Autenticação (Hashing de senha, JWT)
passlib[bcrypt]
python-jose[cryptography]
python-multipart

# Utilitários
python-dotenv